 <h1>Atualizar exame</h1>

<form action="/exams/edit-exam/{{exam.id}}" method="post">
  <label for="">Nome do exame:</label>
  <input placeholder="{{exam.name}}" type="text" name="name" required>

  <select name="type" class="" required>
    <option value="" disabled selected>Escolha o tipo de exame</option>
    <option value="Analise">Analise Clínica</option>
    <option value="Imagem">Imagem</option>
  </select>

  <select name="status" class="" required>
    <option value="" disabled selected>Escolha o status</option>
    <option value="Ativo">Ativo</option>
    <option value="">Inativo</option>
  </select>

  <button type="submit">Salvar</button>
</form>

