{{#if msg}}
  <h1 class="msg">{{msg}}</h1>
{{/if}}

<button><a href="/exams/list-exams">Listar exames ativos e inativos</a></button>
<button><a href="/exams/new-exam">Cadastrar novo exame</a></button>


