<header class="edit-lab-title">
  <h1>Cadastrar exame</h1>
</header>

<section class="row">
  <div class="column-aux-edit"></div>

  <div class="column-main-edit">
    <form action="/exams/new-exam" method="post">
      <div class="input-edit-lab">
        <label class="label-inputs" for="">Nome do exame: </label>
        <input placeholder="Nome..." type="text" name="name" required />

        <select name="type" class="" required>
          <option value="" disabled selected>Escolha o tipo de exame</option>
          <option value="Análise Clínica">Análise Clínica</option>
          <option value="Imagem">Imagem</option>
        </select>

        <select name="status" required>
          <option value="" disabled selected>Escolha o status</option>
          <option value="Ativo">Ativo</option>
          <option value="">Inativo</option>
        </select>
      </div>

      <br>

      <div id="button-edit-lab-submit" class="button-container">
        <button class="button" type="submit"><span>Salvar</span></button>
      </div>

    </form>
  </div>

  <div class="column-aux-edit border"></div>
</section>