<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Manutenção de laboratórios e exames</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/public/stylesheets/reset.css">
</head>

<body>
  <header>
    <h1>Manutenção de laboratórios e exames</h1>

    <nav>
      <ul>
        <a href="/"><li>LABORATÓRIOS</li></a>
        <a href="/exams"><li>EXAMES</li></a>
      </ul>
    </nav>
  </header>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>