* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #d5ebff;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

a:hover {
  color: red;
}

ul, ol,li {
  list-style: none;
}