/* Navbar title  - View: Layout */
.container-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  color: white;
  height: 70px;
  font-size: 25px;
}

/* Hamburger Menu - View: Layout */
.menu {
  background-color: purple;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  box-shadow: 0 0 0 0 purple, 0 0 0 0 #fff;
  transition: box-shadow 1s ease-in-out; 
  z-index: 1;
}

.menu:hover {
  box-shadow: 0 0 0 8px purple, 0 0 0 8px #fff;
}

.hamburguer {
  position: relative;
  display: block;
  background-color: white;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px; 
  transition: .5s ease-in-out;
}

.hamburguer:before, .hamburguer:after {
  background-color: white;
  content: '';
  display: block;
  width: 100%;
  height: 100%; 
  position: absolute;
  transition: .5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

#menu__hamburguer {
  display: none;  
}

#menu__hamburguer:checked ~ label .menu {
  box-shadow: 0 0 0 130vw rgb(24, 1, 43), 0 0 0 130vh #fff;    
}

#menu__hamburguer:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

#menu__hamburguer:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

#menu__hamburguer:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

#menu__hamburguer:checked ~ .navbar {
  opacity: 1;
  visibility: visible;
}

.navbar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  font-size: 45px;
  opacity: 0;
  transition: .25s .5s cubic-bezier(0, 1.07, 0, 1.02);
  visibility: hidden;
  z-index: 2;
  text-align: center;
}

.navbar > li > a{
  color: #00cec9;
  display: block;
  margin-bottom: 1em;
  text-decoration: none; 
}

.navbar > li > a:hover {
  transform: scale(1.5);
  transition: 0.9s ease-in-out;  
}

/* Cards - Views: Index | Exams  */
img {
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;  
}

.card {
  width: 400px;
  height: 60vh;
  border: 3px solid purple;
  border-radius: 12px; 
  background: #333;
  box-shadow: 1px 1px 100px rgba(71, 1, 66, 0.65);  
  padding: 2rem;  
  max-width: 20em;  
  overflow: hidden; 
  position: relative;
}

.card:hover {
  transform: scale(1.3);
  transition: .9s ease-in-out;
}

.card__image-container {
  margin: -2rem -2rem 1rem -2rem;
}

.card__line {
  opacity: 0;
  animation: LineFadeIn .8s .8s forwards ease-in;
}

.card__image {
  opacity: 0;
  animation: ImageFadeIn .8s 1.4s forwards;
  height: 260px;
}

.card__title {  
  color: white;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.card__title-arrow {
  position: absolute;
  left: 94%;
  top: 25%;
}

.card__content {
  margin-top: -1rem;
  opacity: 0;
  animation: ContentFadeIn .8s 1.6s forwards;
}

.card__svg {
  position: absolute;
  left: 0;
  top: 115px;
}

@keyframes LineFadeIn {
  0% { opacity: 0; d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 "); stroke: #fff; }
  50% { opacity: 1; d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300"); stroke: #888BFF; }
  100% { opacity: 1; d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400"); stroke: #545581; }
}

@keyframes ContentFadeIn {
  0% { transform: translateY(-1rem); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes ImageFadeIn {
  0% { transform: translate(-.5rem, -.5rem) scale(1.05); opacity: 0; filter: blur(2px); }
  50% { opacity: 1; filter: blur(2px); }
  100% { transform: translateY(0) scale(1.0); opacity: 1; filter: blur(0); }
}

/* 
  Message of success or failure - position at the bottom and in the middle of the screen
  Views: index | list-lab | exams | list-exams
*/ 
.message-success, .message-failure {
  visibility: hidden; 
  min-width: 250px;  
  background-color: darkgreen; 
  color: #fff; 
  text-align: center; 
  border-radius: 12px;
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%; 
  transform: translateX(-50%);
  bottom: 30px;
  -webkit-animation: fadein 1s, static-anime 8s .3s; 
  animation: fadein 1s, static-anime 10s .3s;  
  border: 2px solid forestgreen;
  font-size: 25px;
}

.message-failure {
  background-color: darkred !important; 
  border: 2px solid rgb(87, 29, 13) !important;
}

/* Animations to fade the snackbar in and out */
 @-webkit-keyframes fadein {
  0% { bottom: 0; opacity: 0; visibility: visible; }
100% { bottom: 30px; opacity: 1; visibility: visible; }
} 

@keyframes fadein {
  0% { bottom: 0; opacity: 0; visibility: visible; }
100% { bottom: 30px; opacity: 0; visibility: visible; }
}

@-webkit-keyframes static-anime {
  0%   { opacity: 0; visibility: visible; }
  10%  { opacity: 0.8; visibility: visible; }
  30%  { opacity: 1; visibility: visible; }
  100% { opacity: 1; visibility: visible; }
}

@keyframes static-anime {
  0%   { opacity: 0; visibility: visible; }
  10%  { opacity: 0.8; visibility: visible; }
  30%  { opacity: 1; visibility: visible; }
  100% { opacity: 1; visibility: visible; }
}

/* Grid layout for list of laboratories and exams. Views: list-lab | list-exams */
.column, .column-aux {
  float: left;
  width: 45%;  
}

.column-aux {
  visibility: hidden;
  width: 5%;
  border: 1px solid #ddd;  
}

.row {
  margin-top: 30px;
  margin-bottom: 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;  
}

.list-layout-center-title {
  display: flex;
  justify-content: center; 
  padding-top: 15px;
  font-size: 25px;
}

.list-layout {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6; 
  padding: 12px; 
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;  
  color: black;
  font-size: 20px;  
}

.list-layout:hover {
  background-color: #800080;
  transform: scale(1.05);
  transition: .2s ease-in-out;
  text-transform: uppercase;
  color: white;
  box-shadow: 1px 1px 100px rgb(52, 250, 3);  
}

/* Card details about one laboratory or exam. Views: exam-details | laboratory-details */
.card-detail-container {   
  display: flex;
  justify-content: center;
}

.card-details {
  border: 1px solid rgb(131, 131, 131);
  width: 80%; 
  padding: 20px;
  box-shadow: 1px 1px 100px rgba(71, 1, 66, 0.65);   
  font-size: 18px;
  margin-top: 30px;  
}

.txt-active {
  color: darkgreen;
}

.txt-inactive {
  color: red;
}

hr {
  width: 40%;
  margin-left: 30%;
  border-color: rgb(143, 9, 143);   
}

.card-details > h1 {
  font-size: 30px;
  text-align: center;
}

.card-details > #exams-associated{
  text-align: center;
}

.row-laboratory-details {
  display: flex;
  justify-content: space-evenly;
}

.button {
  border-radius: 8px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 7px;
  width: 200px;
  cursor: pointer;
  margin: 5px;
  height: 55px;
}

.button-delete {
  background-color: darkred !important;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Update the informations about one laboratory. Views: edit-lab | edit-exam */
.edit-lab-title {
  font-size: 25px;
  text-align: center;
  margin-top: 40px;
}

.column-aux-edit {
  width: 20%;
  float: left;
  border: 1px solid white;
  visibility: hidden;
}

.column-main-edit {
  width: 60%;
  float: left;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 100px rgba(71, 1, 66, 0.65); 
  border: 1px solid rgb(131, 131, 131);
}

.input-edit-lab {
  padding-top: 30px;
  width: 100%;
}

input[type=text], [type=search], select {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto; 
}

.label-inputs {
  font-size: 25px;
  font-weight: 800;
  margin-left: 2.5%;
}

.column-main-edit-lab {
  float: left;
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.h2-title-1 {
 width: 100%;
 padding-left: 9%;
 margin-bottom: 15px; 
 font-size: 18px;
}

.h2-title-2 {
  width: 100%;
  padding-left: 27%;
  margin-bottom: 15px; 
  font-size: 18px;
}

.list-layout-edit {
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2px;
  border: 1px solid #ccc;
  padding: 5%;
  background-color: #fff;
}

.list-layout-edit:hover {
  transform: scale(1.05);
  transition: all .8s;
  background-color: rgb(255, 180, 224);
  font-weight: bold;
}

/* Create a custom checkbox */
.checkmark {  
  height: 25px;
  width: 25px;
  background-color: #eee;
}

#button-edit-lab-submit {
  display: flex;
  justify-content: center;
}

/*  Styles for search laboratory by exams name 
    View: search-lab
*/
#menu__laboratories-list {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu__laboratories-list li a {
  border: 1px solid #ddd; 
  margin-top: -1px; 
  background-color: #f6f6f6; 
  padding: 12px;
  font-size: 18px;
  color: black;
  display: block;
}

#menu__laboratories-list li a:hover:not(.header) {
  transform: scale(1.05);
  background-color: rgb(255, 180, 224);
  transition: all .80s;
  text-transform: uppercase;
  font-weight: 800;
}

#menu__laboratories-list-hidden-array-of-exams{
  display: none;
}

/* Display CSS column and flex for view searh-lab */
.row-search-container {
  display: flex;
}

.column-search-aux {
  flex: 20%;
}

.column-search-main {
  flex: 80%;
  padding: 30px;
  box-shadow: 1px 1px 100px rgba(71, 1, 66, 0.65);  
  margin-top: 30px;
  border: 1px solid rgb(131, 131, 131);
}

.column-search-main > h2 {
  text-align: center;
}

.search-input-and-button-container {
  display: flex;
  background-color: #fff;
  border-radius: 12px;
  align-items: center;
  border: #ff02ff .5px solid;

} 

.search-input-and-button-container:hover {
  border: #5f015f .5px solid;
}

#search-lab {
  width: 85%;
  border: none;
  margin-left: 10px;

}

#search-lab:focus {
  outline: 0;
  margin-left: 10px;
}

.button-search-lab {
  height: 50px;
  margin-right: 4%;
  border-radius: 12px
}

.button-search-lab:hover {
  cursor: pointer;
  background-color:rgb(255, 180, 224);
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(36, 0, 43, 0.945); 
}

/* The Close Button */
.close {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
  transform: scale(1.3);
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: purple;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 30px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: purple;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  width: 50%;
  animation-name: animatetop;
  animation-duration: 0.5s;
  top: 25%; 
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 25%; opacity: 1}
}



















