<section class="row-search-container">
  <div class="column-search-aux"></div>

  <div class="column-search-main">
    <h2>Digite um exame na pesquisa e encontre todos os laboratórios associados:</h2>
    
    <br>
    
    <span class="search-input-and-button-container">
      <input type="search" id="search-lab" onkeyup="searchLaboratoryByExamName()" placeholder="Exame..." title="Digite um exame" />
      <button id="exams-btn-modal" class="button-search-lab" title="Pesquise um nome de exame na lista">Exibir Exames Ativos</button>
    </span>

    <br>

    <h1>Laboratórios cadastrados e com o status "Ativo": </h1>

    <ul id="menu__laboratories-list">
      {{#each allLabs}}
        {{#if this.status}}
          <li><a href="/laboratories/details/{{this.id}}">{{this.name}}<span id="menu__laboratories-list-hidden-array-of-exams">{{this.exams}}</span></a></li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
  
  <div class="column-search-aux"></div>   
</section>

<!-- The Modal -->
<section id="exams-list-modal" class="modal">

  <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2>Exames cadastrados com status ATIVO</h2>
      </div>

      <div class="modal-body">
        {{#each allExams}}
          {{#if this.status}} 
            <p>{{this.name}}</p>
          {{/if}}
        {{/each}}        
      </div>

      <div class="modal-footer">
        <h3>Laboratórios e Exames</h3>
      </div>
    </div>

</section>
