{{#if msg}}
  <h2>{{msg}}</h2>
{{/if}}
<button><a href="/laboratories/list-lab">Listar laboratórios ativos e inativos</a></button>
<button><a href="/laboratories/new-lab">Cadastrar novo laboratório</a></button>

<div class="container">
<div class="card">this is a card</div>
<div class="card">this is a card</div>
</div>
