<h1>NEW LABORATÓRIO</h1>

<form action="/laboratories/new-lab" method="post">
  <label for="">Nome do laboratório:</label>
  <input type="text" name="name">

  <label for="">Endereço:</label>
  <input type="text" name="address">

  <select name="status" class="browser-default" id='hours' required>
    <option value="" disabled selected>Escolha seu horário</option>
    <option value="Ativo">Ativo</option>
    <option value="">Inativo</option>
  </select>

  <button type="submit">Salvar</button>
</form>