<h1>Cadastrar laboratório</h1>

<form action="/laboratories/new-lab" method="post">
  <label for="">Nome do laboratório:</label>
  <input type="text" name="name" required>

  <label for="">Endereço:</label>
  <input type="text" name="address" required>

  <select name="status" class="" required>
    <option value="" disabled selected>Escolha o status</option>
    <option value="Ativo">Ativo</option>
    <option value="">Inativo</option>
  </select>

  <p>Vincular os exames ativos cadastrados no banco com o laboratório: </p>
  <div>
    {{#each exams}}
      {{#if this.status}}
        <label for="exams">{{this.name}}</label>
        <input value="{{this.name}}" type="checkbox" id="exams" name="exams" checked>
        <input value="{{this.type}}" type="hidden" name="exams" checked>
        <br>
      {{/if}}
    {{/each}}  
  </div>

  <button type="submit">Salvar</button>
</form>