<h1>NEW LABORATÓRIO</h1>

<form action="/laboratories/new-lab" method="post">
  <label for="">Nome do laboratório:</label>
  <input type="text" name="name" required>

  <label for="">Endereço:</label>
  <input type="text" name="address" required>

  <select name="status" class="" required>
    <option value="" disabled selected>Escolha o status</option>
    <option value="Ativo">Ativo</option>
    <option value="">Inativo</option>
  </select>

  <button type="submit">Salvar</button>
</form>